body {
  height: 97vh;
  width: 100vw;
}

.main-contain {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 250px;
  grid-template-rows: 60% 40%;
  grid-template-areas:
    "sandbox comp-list"
    "sandbox-form comp-list"
}

.work-area {
  border-style: solid;
  border-color: red;
  overflow-y: scroll;
  overflow-x: scroll;
}

.sandbox {
  grid-area: sandbox;
  height: 100%;
  width: 100%;
  border-style: solid;
  border-color: gray;

  padding: auto;
}

.sandbox-form {
  grid-area: sandbox-form;
  height: 100%;
  width: 100%;
}

.comp-list {
  grid-area: comp-list;
  height: 100%;
  width: 100%;
  /* position: fixed; */
  overflow-y: scroll;
  /* top: 0;
  bottom: 0; */
}

.comp-item {
  position: relative;
}

.form-row {
  margin-bottom: 5px;
}

.button-row {
  padding: 0 10px;
}

.cust-del {
  position: absolute;
  right: 15px;
  bottom: 8px;
}
